DirectoryIndex index.html
RewriteEngine On
RewriteBase /
RewriteCond %{HTTPS} =on
RewriteCond %{HTTP_HOST} ^actu.fit
RedirectMatch 301 /tags/pilate/ https://actu.fit/tags/pilates/
RedirectMatch 301 /catalogue/0/ https://amzn.to/3cc3wGo
RedirectMatch 301 /catalogue/1/ https://amzn.to/3AGGMsb
RedirectMatch 301 /catalogue/2/ https://amzn.to/3ACRdx2
RedirectMatch 301 /catalogue/3/ https://amzn.to/3NVem0L
RedirectMatch 301 /catalogue/4/ https://amzn.to/3RwSHiq
RedirectMatch 301 /catalogue/5/ https://amzn.to/3c13r8a
RedirectMatch 301 /catalogue/6/ https://amzn.to/3nOkgpw
RedirectMatch 301 /catalogue/7/ https://amzn.to/3OZdhGy
RedirectMatch 301 /catalogue/8/ https://amzn.to/3uA5ZAQ
RedirectMatch 301 /catalogue/9/ https://amzn.to/3yvNrmd
RedirectMatch 301 /catalogue/10/ https://amzn.to/3uCUBnI
RedirectMatch 301 /catalogue/11/ https://amzn.to/3c3DncT
RedirectMatch 301 /catalogue/12/ https://amzn.to/3ytUWdE
RedirectMatch 301 /catalogue/13/ https://amzn.to/3IqM113
RedirectMatch 301 /catalogue/14/ https://amzn.to/3nYUAXx
RedirectMatch 301 /catalogue/15/ https://amzn.to/3o21w6h
RedirectMatch 301 /catalogue/16/ https://amzn.to/3bZ0QM2
RedirectMatch 301 /catalogue/17/ https://amzn.to/3axztbB
RedirectMatch 301 /catalogue/18/ https://amzn.to/3Ixl8IU
RedirectMatch 301 /catalogue/19/ https://amzn.to/3cj699a
RedirectMatch 301 /catalogue/20/ https://amzn.to/3yEvgLu
RedirectMatch 301 /catalogue/21/ https://amzn.to/3cc2dHs
RedirectMatch 301 /catalogue/22/ https://amzn.to/3Pkxfey
RedirectMatch 301 /catalogue/23/ https://amzn.to/3PbQLdk
RedirectMatch 301 /catalogue/24/ https://amzn.to/3aPXIC2
RedirectMatch 301 /catalogue/25/ https://amzn.to/3OlWX1n
RedirectMatch 301 /catalogue/26/ https://amzn.to/3zj7Nkd
RedirectMatch 301 /catalogue/27/ https://amzn.to/3cvWyfi
RedirectMatch 301 /catalogue/28/ https://amzn.to/3omzmD9
RedirectMatch 301 /catalogue/29/ https://amzn.to/3aUXauT
RedirectMatch 301 /catalogue/30/ https://amzn.to/3IZ2rhn
