<div style="display:block;font-size:21px;vertical-align:middle;text-align:center;margin:25px">
    <a
    class="button"
    style="
    background: linear-gradient(rgb(254, 230, 176), rgb(238, 186, 55)) rgb(254, 230, 176);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(190, 149, 44) rgb(166, 130, 38) rgb(155, 121, 36);
    border-radius: 3px;
    text-decoration: none;
    color: currentcolor;
    height: 24px;
    padding: 6px;
    width: 150px;" href="{{ .Get 0 }}" target="_blank">
        Voir la fiche produit <img src="/images/amazon_logo.svg" style="margin-left: 10px; width:30px" />
    </a>
</div>

